ProyectoPSP/WebContent/WSDL-APP/WSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="School" targetNamespace="http://www.example.org/School/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/School/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/School/">
			<xsd:element name="SubjectRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NameSubject" type="xsd:string"/>
						<xsd:element name="IdSubject" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="SubjectResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="greet" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			

			<xsd:element name="StudentRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NameStudent" type="xsd:string"/>
						<xsd:element name="DNIStudent" type="xsd:string"/>
						<xsd:element name="AddressStudent" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StudentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="greet" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="EvaluationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DNIStudent" type="xsd:string"/>
						<xsd:element name="IdSubject" type="xsd:string"/>
						<xsd:element name="Note" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EvaluationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="greet" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="SubjectResponse">
    <wsdl:part name="parameters" element="tns:SubjectResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EvaluationRequest">
    <wsdl:part name="parameters" element="tns:EvaluationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EvaluationResponse">
    <wsdl:part name="parameters" element="tns:EvaluationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StudentRequest">
    <wsdl:part name="parameters" element="tns:StudentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StudentResponse">
    <wsdl:part name="parameters" element="tns:StudentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubjectRequest">
    <wsdl:part name="parameters" element="tns:SubjectRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="School">
    <wsdl:operation name="Alta_de_asignaturas">
      <wsdl:input message="tns:SubjectRequest">
    </wsdl:input>
      <wsdl:output message="tns:SubjectResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alta_de_alumnos">
      <wsdl:input message="tns:StudentRequest">
    </wsdl:input>
      <wsdl:output message="tns:StudentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Evaluacion_de_alumno_en_una_asignatura">
      <wsdl:input message="tns:EvaluationRequest">
    </wsdl:input>
      <wsdl:output message="tns:EvaluationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchoolSOAP" type="tns:School">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Alta_de_asignaturas">
      <soap:operation soapAction="http://www.example.org/School/Alta_de_asignaturas"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alta_de_alumnos">
      <soap:operation soapAction="http://www.example.org/School/Alta_de_alumnos"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Evaluacion_de_alumno_en_una_asignatura">
      <soap:operation soapAction="http://www.example.org/School/Evaluacion_de_alumno_en_una_asignatura"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="School">
    <wsdl:port name="SchoolSOAP" binding="tns:SchoolSOAP">
      <soap:address location="http://localhost:8081/ProyectoPSP/services/SchoolSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
